ion-content {
    --ion-background-color: #01aebc;
   
     height: 100vh;

     ion-searchbar {
      --background: #fff;

      position: absolute;
      top: 0;

      z-index: 3;
    }
    
    #map {
       z-index: 2;
       height: 92%;
       width: 100%;
     }

    .container {
      margin-top: 65px;
    }

    img {
      border-radius: 50%;
      border: 3.1px solid white;
      box-shadow: 0 0 15px rgba(49, 49, 49, 0.671);

      width: 150px;
      height: 150px;
    }

    ion-footer {
        padding: 20px 0;
        border: 0;
        
        &.footer-md::before {
          background-image: none;
        }
    
        ion-row {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
    
            padding: 5px 15px;
    
            .options {
              text-align: center;

              p {
                font-size: 14px;
              }
            }
    
            ion-avatar {
              display: flex;
              justify-content: center;
              align-items: center;
    
              border: 1px solid rgb(41, 134, 143);
              background-color: rgba(255, 255, 255, 0.966);
    
    
                ion-icon {
                  color: rgb(91, 201, 210);
                  font-size: 2rem;
                }
            }


        }}

  ion-tab-bar {
    border: none;
  }

  ion-fab-button {
    img {
      border: 2px solid white;
      opacity: 7;
      height: 100%;
      width: 100%;
    }
  }

}
  
  
  
  