<ion-content [fullscreen]="true">
  <ion-slides>

    <ion-slide class="slide1">

      <div class="container">
        <img src="../../assets/image/sosLogo.jpeg" />
        <p>Clique para emergência</p>
      </div>

      <ion-footer>

        <ion-row>

          <div class="options">
            <ion-avatar>
              <ion-icon name="person"></ion-icon>
            </ion-avatar>
    
            <p>Perfil</p>
          </div>
    
          <div class="options">
            <ion-avatar>
              <ion-icon name="paw"></ion-icon>
            </ion-avatar>
    
            <p>Pets</p>
          </div>
    
          <div class="options">
            <ion-avatar>
              <ion-icon name="star"></ion-icon>
            </ion-avatar>
    
            <p>Favoritos</p>
          </div>
    
          <div class="options">
            <ion-avatar>
              <ion-icon name="settings"></ion-icon>
            </ion-avatar>
    
            <p>Opcões</p>
          </div>
    
        </ion-row>

      </ion-footer>

    </ion-slide>

    <ion-slide>
      <div id="map">teste</div>
    </ion-slide>

  </ion-slides>
</ion-content>