<ion-content [fullscreen]="true">
  <!-- <ion-slides> -->

    <!-- <ion-slide> -->
      <div #map id="map"></div>

      <ion-footer>

        <ion-row>

          <div class="options" (click)="carregarTela('perfil')">
            <ion-avatar>
              <ion-icon name="person"></ion-icon>
            </ion-avatar>
    
            <p>Perfil</p>
          </div>
    
          <div class="options" (click)="carregarTela('pets')">
            <ion-avatar>
              <ion-icon name="paw"></ion-icon>
            </ion-avatar>
    
            <p>Pets</p>
          </div>
    
          <div class="options" (click)="carregarTela('favorito')">
            <ion-avatar>
              <ion-icon name="star"></ion-icon>
            </ion-avatar>
    
            <p>Favoritos</p>
          </div>
    
          <div class="options" (click)="carregarTela('opcoes')">
            <ion-avatar>
              <ion-icon name="settings"></ion-icon>
            </ion-avatar>
    
            <p>Opcões</p>
          </div>
    
        </ion-row>

      </ion-footer>
    <!-- </ion-slide> -->

    <!-- <ion-slide class="slide1">

      <div class="container">
        <img src="../../assets/image/sosLogo.jpeg" />
        <p>Clique para emergência</p>
      </div>

      <ion-footer>

        <ion-row>

          <div class="options" (click)="carregarTela('perfil')">
            <ion-avatar>
              <ion-icon name="person"></ion-icon>
            </ion-avatar>
    
            <p>Perfil</p>
          </div>
    
          <div class="options" (click)="carregarTela('pets')">
            <ion-avatar>
              <ion-icon name="paw"></ion-icon>
            </ion-avatar>
    
            <p>Pets</p>
          </div>
    
          <div class="options" (click)="carregarTela('favorito')">
            <ion-avatar>
              <ion-icon name="star"></ion-icon>
            </ion-avatar>
    
            <p>Favoritos</p>
          </div>
    
          <div class="options" (click)="carregarTela('opcoes')">
            <ion-avatar>
              <ion-icon name="settings"></ion-icon>
            </ion-avatar>
    
            <p>Opcões</p>
          </div>
    
        </ion-row>

      </ion-footer>

    </ion-slide> -->

  <!-- </ion-slides> -->
</ion-content>