ion-content {
    --ion-background-color: #01aebc;
    // --background: linear-gradient(rgba(1,174,188, 1) 0%, rgba(1,174,188,1) 13.5%, rgba(1,174,188,1) 33.33%, rgba(255,255,255) 100%) !important;
   
  //  ion-slides {
     height: 100vh;

     #map {
       height: 92%;
       width: 100%;
       z-index: 2;

       ion-searchbar {
         --background: #fff;
       }
     }
  //  } 
    
  // .slide1 {
  //   display: flex;
  //   justify-content: space-between;
  //   flex-direction: column;

    .container {
      margin-top: 65px;
    }

    img {
      border-radius: 50%;
      border: 3.1px solid white;
      box-shadow: 0 0 15px rgba(49, 49, 49, 0.671);

      width: 150px;
      height: 150px;
    }

    ion-footer {
        padding: 20px 0;
        border: 0;
        
        &.footer-md::before {
          background-image: none;
        }
    
        ion-row {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
    
            padding: 5px 15px;
    
            .options {
              text-align: center;

              p {
                font-size: 14px;
              }
            }
    
            ion-avatar {
              display: flex;
              justify-content: center;
              align-items: center;
    
              border: 1px solid rgb(41, 134, 143);
              background-color: rgba(255, 255, 255, 0.966);
    
    
                ion-icon {
                  color: rgb(91, 201, 210);
                  font-size: 2rem;
                }
            }


        }}
  // }

  ion-tab-bar {
    border: none;
  }

  ion-fab-button {
    img {
      border: 2px solid white;
      opacity: 7;
      height: 100%;
      width: 100%;
    }
  }

}
  
  
  
  