ion-content {
    --background: rgb(1, 174, 188) url("../../assets/image/login6.jpg") no-repeat center center / cover;
}

#centralizar {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 18%;
    margin: 0px 15px;
}

.section {
    display: flex;
    justify-content: center;

    img {
        height: 100px;
        width: 100px;
        opacity: .9;
        border-radius: 50%;
    }
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.267);
    border-radius: 10px;

    padding: 10px;
}


ion-input {
    width: 85%;
    margin-top: 25px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.459);

    text-align: start;
}

ion-radio-group {
    width: 100%;

    ion-list-header {
        ion-label {
            // text-align: start;
            font-size: 1rem;
        }
    }

    ion-item {
        ion-label {
            color: rgba(255, 255, 255, 0.829);
        }
    }

    ion-radio {
        --color: rgba(255, 255, 255, 0.767);
        --color-checked: rgb(17, 139, 148);
    }
}

.btn {
    margin-top: 20px;

    ion-col {
        text-align: center;

        span {
            color: transparent;
        }
    }
}