<ion-content [fullscreen]="true">

  <div id="centralizar">
    <div class="section">
      <img src="../../assets/image/logo_transparente2.png" alt="Logo">
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="register()" class="ion-text-center">

        <div class="section2">
          <ion-input formControlName="name" type="text" placeholder="Nome completo"><ion-icon name="person-outline"></ion-icon></ion-input>

          <ion-input formControlName="email" class="email" type="email" placeholder="Email"><ion-icon name="mail-outline"></ion-icon></ion-input>
    
          <ion-input formControlName="password" class="senha" type="password" placeholder="Senha"><ion-icon name="lock-closed-outline"></ion-icon></ion-input>

          <ion-input formControlName="password_confirmation" type="password" placeholder="Repetir senha"><ion-icon name="lock-closed-outline"></ion-icon></ion-input>

        </div>
  
        <ion-row>
          <ion-col>
            <ion-button class="font-Bold" expand="round" fill="outline" color="favorite" (click)="back()">Cancelar</ion-button>
          </ion-col>

          <ion-col>
            <ion-button type="submit" class="font-Bold" expand="round" color="favorite">Cadastrar</ion-button>
          </ion-col>
        </ion-row>    

    </form>
  </div>

</ion-content>
