<ion-content>

  <div id="centralizar">

    <form class="ion-text-center">

        <div class="section2">
          <div class="section">
            <img src="../../assets/image/ionPet.png" alt="Logo">
          </div>

          <ion-input class='email' type="text" placeholder="Digite o nome do pet" class="nome"><ion-icon name="paw"></ion-icon></ion-input>
        </div>
  
        <ion-row class="btn">
  
          <ion-col>
            <ion-button class="font-Bold" expand="round" fill="outline" color="favorite" (click)="dismiss()">Enviar</ion-button>
          </ion-col>
  
          <!-- <ion-col>
            <ion-button class="font-Bold" expand="round" color="favorite" (click)="carregarTela('pet')">Enviar</ion-button>
          </ion-col> -->
        </ion-row>

      

    </form>
  </div>

</ion-content>
