<ion-header class="ion-no-border">
  <ion-toolbar lines="none">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="centralizar">
    <form class="ion-text-center" [formGroup]="sosForm" (ngSubmit)="sos()">
        <ion-row>
          <ion-col>
            <img src="{{ pet.photo_url || '../../assets/image/cachorro.png' }}" alt="Pet">
            <h1>{{ pet.name }}</h1>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <p>Como podemos te ajudar?</p>
            <ion-textarea formControlName="description" placeholder="Palavras chaves do problema (ex: vacinas, castração, 24 horas...)"></ion-textarea>
          </ion-col>
        </ion-row>

        <ion-button type="submit" class="font-Bold" expand="round" color="favorite">Enviar</ion-button>
    </form>
  </div>

</ion-content>
