<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="carregarTela('pet')"><ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">
    <!-- <h1>Resultados</h1> -->

    <ion-item color="transparent" lines="none">

      <ion-row>
        <ion-col size="11">
          <ion-avatar><img src="../../assets/image/teste.jpg" alt="Logo pet"></ion-avatar>
        </ion-col>
  
        <ion-col size="1">
          <ion-icon name="star-outline"></ion-icon> <br>
          <ion-icon class="arrow" name="arrow-redo-outline"></ion-icon>
        </ion-col>

        <ion-row>
          <ion-col>
            <p><span>Nome da clínica: </span>Vet da Penha</p>
            <p><span>Endereço: </span>Av. Gabriela Mistral</p>
            <p><span>Horários: </span>Das 08:00 às 20:00</p>
            <p><span>Contato: </span>(11)2641-9747</p>
          </ion-col>
        </ion-row>
      </ion-row>

      
    </ion-item>

    <ion-item color="transparent" lines="none">

      <ion-row>
        <ion-col size="11">
          <ion-avatar><img src="../../assets/image/logoClinica.jpg" alt="Logo pet"></ion-avatar>
        </ion-col>
  
        <ion-col size="1">
          <ion-icon name="star-outline"></ion-icon> <br>
          <ion-icon class="arrow" name="arrow-redo-outline"></ion-icon>
        </ion-col>

        <ion-row>
          <ion-col>
            <p><span>Nome da clínica: </span> Vet Fênix</p>
            <p><span>Endereço: </span> Rua Henrique de Sousa </p>
            <p><span>Horários: </span>Das 09:00 às 18:00</p>
            <p><span>Contato: </span> (11)2258-9747</p>
          </ion-col>
        </ion-row>
      </ion-row>

      
    </ion-item>

  </div>

</ion-content>
