:root {
  --ion-color-favorite: #fff;
}

ion-content {
  --ion-background-color: #01aebc;
  
  img {
    margin-top: 70px;
  }
}

ion-footer {
  padding: 10px 0;
  
  &.footer-md::before {
    background-image: none;
  }

  ion-col {
    text-align: center;
  
    ion-button {
      font-weight: bold;
    }
  }
}



