ion-content {
    --ion-background-color: #01aebc;
}

ion-toolbar {
    --background: #02818a;
    --border-color: transparent;
}

ion-item {
    --padding-top: 5px;
    --padding-bottom: 5px;
    --border-width: 0;
    --inner-border-width: 0;
}

ion-icon {
    color: #01aebc;
    margin-right: 10px;
}