<!-- <ion-buttons slot="start">
  <ion-back-button></ion-back-button>
</ion-buttons> -->

<!-- <ion-header>
  <ion-avatar>
    <ion-icon name=""></ion-icon>
  </ion-avatar>
</ion-header> -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>Pets</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-row *ngFor="let pet of pets">
    <ion-col size="4">
        <ion-avatar>
          <img  src="{{ pet.tipo }}">
        </ion-avatar>
    </ion-col>

    <ion-col size="6">
      <p>{{ pet.nome }}</p>
    </ion-col>
  </ion-row>

  <!-- <ion-item>
    <div class="container">
      <ion-avatar>
        <ion-icon name="add-outline"></ion-icon>
      </ion-avatar>
      <p>Adicionar pet</p>
    </div>
  </ion-item> -->
 
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="presentModal()">
    <ion-fab-button color="light"><ion-icon name="add-outline"></ion-icon></ion-fab-button>
  </ion-fab>

</ion-content>
